html{
	width: 100%;
	padding: 0px;
	scrollbar-width : none;
	height: 100%;
	font-family: Roboto;
	background-color: #36393E;
}
.row{
	display:flex;
	flex-direction: row !important;
}
.column{
	display: flex;
	flex-direction: column;
}
.bord{
	border-bottom: 2px solid black;
}
.prof{
	margin-left:10px;
	margin-bottom:-5px;
	height: 150px;
	width: auto;
	filter: saturate(0);
	background-color: white;
}
input[type=text]{
	width: 100px;
	border: none;
	box-shadow: 0 2.5px 5px rgba(154,160,185,.3);
	background-color:#fff1ed;
}
.small{
	font-size: 5px;
}
.smallr{
	font-size: 5.5px;
}
.smaller{
	font-size:7px;
}
#front{
	border-radius:15px;
	margin: 5px;
	width: 390px;
	height: 230px;
	background-color:#fff1ed;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	align-items: center;
	overflow:hidden;
}
#back{
	border-radius:15px;
	margin: 5px;
	width: 390px;
	height: 230px;
	background-color:#fff1ed;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	align-items: center;
	overflow:hidden;
}
#front:hover, #back:hover{
	transform: scale(1.5);
}
.marg{
	margin: 5px;
}
#sex{
	width: 30px !important;
}
#can{
	background-color: #fff;
	text-align: center;
	box-shadow: none;
	width: 100% !important;
	word-wrap: break-word;
	font-family: 'Lucida Console';
	letter-spacing:4px;
}
#kontur{
	height: 55px;
	width: auto;
}
input[type=text]:-moz-input-placeholder{
	font-size: 4px;
}
#id_card{
	justify-content: center
}
.top{
	justify-content: center;
}
.img_bar{
	transition: all 0.2s ease-in-out;
	height: 60px;
	width: auto;
	filter:invert(100%);
}
.img_bar:hover{
	transform: scale(1.2);
	filter: invert(70%);
}
.herb{
	height:50px;
	width: auto;
	top:25%;
	align-items:flex-end;
	margin-left:20px;
}
.small_img{
	background-color:white;
	height:50px;
	width: auto;
	margin-left: 10px;
	filter: saturate(0);
}
p{
	height:4px;
}
.bot{
	align-items:flex-end;
}
.title{

}
.h{
	height:20px;
}
.marg_l{
	margin-left: 5px;
}
.info1{
	margin-left:15px;
}
.pp1{
	position: absolute;
	font-size:32px;
	transform: rotateY(3.142rad);
	margin-left: 320px;
}
.pp{

	margin-top:5px;
	font-size:32px;
	transform: rotateY(3.142rad);
}
#info2{
	margin-left:10px;
}
.l{
	width: 210px !important;
}
#field{
	align-items:center;
}
.field2{
	display:flex;
	justify-content:center;
	align-items: center;
}
button{
	width: 100px;
	border:none;
	border-radius: 25px;
	height:20px;
	box-shadow: 0 2.5px 10px rgba(154,160,185,0.5);
	transition: all 250ms ease-in-out;
}
button:hover{
	background-color: #98f5c5;
	color: #fff;
	box-shadow: 0 5px 5px rgba(154,160,185,1);
}
.botto{
	align-items: flex-end;
}
.bottom_field{
	border-top: 1px solid black;
	background-color: #fff ;
	height: 90px;
}
.marg_l2{
	margin-left: 15.5px;
}
.snail{
	width: 70px !important;
}